#header{
    font-weight: 600;
    font-size: 17px;
}

/*-----------Fixed bar-----------*/
#header .navbar {
    background-color: rgba(0, 0, 0, 0.60);
    min-height: 110px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.35);
    transition: 0.5s;
}

#header .navbar .nav-link {
    color: white;
    transition: 0.5s;
}

#header .navbar .navbar-toggler{
    width: 47px;
    height: 34px;
    color: white;
    border-color: rgba(255,255,255, 1);
    transition: 0.5s;
}

#header .navbar .nav-link:hover{
    color: #f7b5b5;
    transition: 0.5s;
}

#header .navbar .navbar-toggler .line{
    width: 100%;
    float: left;
    height: 2px;
    background-color: #fff;
    margin-bottom: 5px;
    transition: 0.8s;
}

#header .navbar .navbar-toggler.collapsed .line.line-top {
    transition: 0.5s;
    margin-bottom: 5px;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
}

#header .navbar .navbar-toggler.collapsed .line.line-bottom {
    transition: 0.5s;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
}

#header .navbar .navbar-toggler .line.line-top {
    margin-bottom: 0px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
}

#header .navbar .navbar-toggler .line.line-bottom {
    transform: translateY(-1.9px) rotate(-45deg);
    -webkit-transform: translateY(-1.9px) rotate(-45deg);
    -moz-transform: translateY(-1.9px) rotate(-45deg);
}

#header .navbar .navbar-toggler .line.line-delete {
    animation: fade-out 0.5s forwards;
    -webkit-animation: fade-out 0.5s forwards;
    -moz-animation: fade-out 0.5s forwards;
}

#header .navbar .navbar-toggler.collapsed .line.line-delete {
    animation: fade-in 0.5s forwards;
    -webkit-animation: fade-in 0.5s forwards;
    -moz-animation: fade-in 0.5s forwards;
}

@keyframes fade-in {
    0% {
        transform: translateX(-50%);
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@-webkit-keyframes fade-in {
    0% {
        -webkit-transform: translateX(-50%);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0%);
        opacity: 1;
    }
}

@-moz-keyframes fade-in {
    0% {
        -moz-transform: translateX(-50%);
        opacity: 0;
    }

    100% {
        -moz-transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        transform: translateX(0%);
        opacity: 1;
        height: 2px;
    }

    99% {
        transform: translateX(-50%);
        opacity: 0;
        height: 2px;
    }

    100% {
        height: 0px;
        margin-bottom: 0px;
    }
}

@-webkit-keyframes fade-out {
    0% {
        -webkit-transform: translateX(0%);
        opacity: 1;
        height: 2px;
    }

    99% {
        -webkit-transform: translateX(-50%);
        opacity: 0;
        height: 2px;
    }

    100% {
        height: 0px;
        margin-bottom: 0px;
    }
}

@-moz-keyframes fade-out {
    0% {
        -moz-transform: translateX(0%);
        opacity: 1;
        height: 2px;
    }

    99% {
        -moz-transform: translateX(-50%);
        opacity: 0;
        height: 2px;
    }

    100% {
        height: 0px;
        margin-bottom: 0px;
    }
}
/*-------------------------------*/


/*-----------StickyBar-----------*/
#header.sticky-header .navbar{
    background-color: #ededed;
    box-shadow: none;
    border-bottom: 1px solid black;
    min-height: 87px;
    transition: 1.0s;
}

#header.sticky-header .navbar .nav-link {
    color: black;
    transition: 1.0s;
}

#header.sticky-header .navbar .navbar-toggler {
    color: black;
    border-color: rgba(0,0,0,1);
    transition: 1.0s;
}

#header.sticky-header .navbar .nav-link:hover {
    color: #b91313;
    transition: 0.5s;
}

#header.sticky-header .navbar .navbar-toggler .line{
    background-color: #000;
    transition: 0.8s;
}
/*-------------------------------*/

/*------Active item menu------*/
#header .nav-link.active {
    color: #f68686;
    transition: 0.5s;
}

#header.sticky-header .nav-link.active {
    color: #ea0d0d;
    transition: 0.5s;
}
/*-------------------------------*/